<html>

<head>
    <title>Hello ejs template</title>
    <link href="/assets/style.css" type="text/css" rel="stylesheet"/>
 
</head>

<body>
    <h1>Hello EJS !!!</h1>
   <p>Ket qua tra ve cong chuoi: <%= RESURT %></p>
</body>

</html>