<html>

<head>
    <title>Hello ejs template</title>
    <link href="/assets/style.css" type="text/css" rel="stylesheet"/>
</head>

<body>
    <h1>User template: <%= ID %></h1>
    <p> Request String: <%= queryString %> </p>
</body>

</html>